main {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}
header   {
    font-size: 1rem;
    border-bottom: 1px;
    margin-bottom: 0.5rem;
}
header   {
    text-align: center;
    border: 3px solid #050a30;
    background-color: #000c66;
    color: #a9a9a9;

}
main h2   {
    border: 3px solid #050a30;
    text-align: center;
    background-color: #a9a9a9;
    color: #000c66

}
.
