
header, main, section {
    max-width: 760px;
   

}
header h2 {
    font-family: cursive;
}
header h6 {
    text-align:end;
    font-family:sans-serif

}
header   {
    font-size: 1rem;
    border-bottom: 1px;
    margin-bottom: 0.5rem;
    border-radius: 15px 50px 30px;
}
header   {
    text-align: center;
    border: 3px solid #050a30;
    background-color: #000c66;
    color: #a9a9a9;

}
main h2 img {
    border: 3px solid #050a30;
    text-align: center;
    background-color: #a9a9a9;
    color: #000c66

}

section {
    border: 1px solid #050a30;
}
section, h2 {
    text-align: center;
}
section img {
    max-width: 60%;
}