header img {
    width: 80px;
    height: auto;

}
header {
    max-width: auto;
    height: auto;
    background-color: whitesmoke;
    padding: 5px 0;
    display: flex;
    flex-direction: column;
    
}
.headings {
    display: flex;
    flex-direction: column;
    margin: .5px;
    justify-content: center;
}
.m {
    display: flex;
    font-style: italic;
    letter-spacing: 1pt;
    color: navy;
    padding: .4em;
    margin-left: 20px;
    font-size: .9rem;
    justify-content:center;

}
h1 {
    margin: auto;

}
h2 {
    display: flex;
    font-style: bold;
    color:white;
    background-color:slategray;
    margin-left: 25px;
    justify-content: center;
    padding: 1em;
}
main {
    display: flex;
    flex-direction: column;
}
footer {
    display: flex;
    justify-content: center;
    margin: 0;
}
.contents {
    color: white;
    background-color: slategray;
    margin-left: 25px;
    padding: .5em;
}
.content {
    color: white;
    background-color: lightgray;
    margin-left: 25px;
    padding: .5em;
}
nav {
    margin: 0 auto;
    background-color: lightgray;
    font-family: Oswald;
    max-width: 760px;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
nav button {
    margin: .2rem 3%;
    background-color: transparent;
    border: none;
    font-size: 1.6rem;
    color:slategray;

}
a {
    text-decoration: none;
}
nav ul li a {
    display: block;
    padding: .7rem 2%;
    color: black;
    border-top: 1px solid rgba(0,0,0,0.3);

}
nav ul li a:hover {background-color: rgba(0,0,0,0.4);}
nav ul li.highlight a {background-color: rgba(0,0,0,0.2);
}

.clearfix:after {
    content: "";
    display: table;
    clear: both;
}