header img {
    width: 80px;
    height: auto;

}
header {
    background-color: whitesmoke;
    padding: 5px 0;
    display: flex;
    
}
.headings {
    display: flex;
    flex-direction: column;
    margin: .5px;
    justify-content: center;
}
.m {
    font-style: italic;
    letter-spacing: 1pt;
    color: navy;
    margin-left: 20px;
    font-size: .9rem;
    justify-content:center;

}
h1 {
    margin: auto;

}
main {
    display: flex;
    flex-direction: column;
    margin: .5px;
    justify-content: center;

}