header img {
    width: 80px;
    height: auto;

}
header {
    max-width: auto;
    height: auto;
    background-color: whitesmoke;
    padding: 50px;
    display: flex;
    flex-direction: column;
    
}
.headings {
  
    display: flex;
    flex-direction: column;
    margin: .5px;
    justify-content: center;
   
}
.m {
    display: flex;
    font-style: italic;
    letter-spacing: 1pt;
    color: navy;
    padding: .4em;
    margin-left: 20px;
    font-size: .9rem;
    justify-content:center;

}
h1 {
    margin: auto;

}
h2 {
    display: flex;
    font-style: bold;
    color: darkorange;
    background-color:slategray;
    margin-left: 25px;
    justify-content: center;
    padding: 1em;
}
main {
    display: flex;
    flex-direction: column;
}
footer {
    display: flex;
    justify-content: center;
    margin: 0;
}
 {

}
.contents {
    color: white;
    background-color: slategray;
    margin-left: 25px;
    padding: .5em;
}
.content {
    color: white;
    background-color: lightgray;
    margin-left: 25px;
    padding: .5em;
}
nav {
    margin: 0 auto;
    background-color: lightgray;
    font-family: oswald;
    max-width: 760px;
}
.navigation {
    list-style: none;
    padding: 0;
}
nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}
.navigation li:first-child {
    display: block;
}
.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}
.navigation a:hover {
    color: white;
    background-color: grey;
}
.responsive li {
    display: block;
}
date {
    color: darkslateblue;
}

footer p {
    color: darkorange;
}
footer a {
    color: slategray;
    text-decoration: none;
    
    padding: .2em;
    font-style: italic;

}