header,
main,
footer {
  max-width: 860px;
  margin: 0 auto;
}
h1 {
  margin: 6px;
  border: 1.5px solid lightskyblue;
  padding: 15px;
  background-color: navy;
  color: white;
}
h2,
h3,
p {
  padding: 5px;
  background-color: whitesmoke;
}

main section {
  margin-left: 20px;
}
footer {
  border-top: 0.75px solid darkred;
}
.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
}
.utah {
  display: grid;
}
section img {
  width: 175px;
  box-shadow: 0 0 60px grey;
}
