    main {
        display: grid;
        grid-template-columns: 1;
      grid-template-rows: 7;
      justify-content: center;
    }
    img { 
        filter: blur(0.2em);
        border: 3px solid navy;
   } 
    img[data-src] { 
        /* border: 1px solid maroon; */
        filter: blur(0em); 
        transition: filter 2s; 
        
    
    } 

  /* not working!!!!! ^ */
  