
    img[data-src] { 
        filter: blur(0.2em); 
   } 
    img { 
        border: 1px solid maroon;
        filter: blur(0em); 
        transition: filter 0.8s; 
        border: maroon;
    
    } 

  /* not working!!!!! ^ */
  