header img {
    width: 80px;
    height: auto;

}

header { 
    height: auto;
    background-color: whitesmoke;
    padding: 25px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.headings {
    display: flex;
    flex-direction: column;
    margin: .5px;
    justify-content: center;
    margin-top: 0rem;
    margin-left: 0rem;

   
}

.m {
    display: flex;
    font-style: italic;
    letter-spacing: 1pt;
    color: navy;
    padding: .4em;
    margin-left: 20px;
    font-size: .9rem;
    justify-content:center;

}

h1 {
    margin: auto;

}
h2 {
    display: flex;
    font-style: bold;
    color: darkorange;
    text-shadow: 0 0 3px darkslategrey, 0 0 5px navy;
    background-color:slategray;
    justify-content: center;
    padding: 1em;
    margin-top: 0em;
    
}

main {
    max-width: 960px;
    display: flex;
    flex-direction: column;
    margin-top: 0em;
    margin: 0 auto;
    
}

footer {
    display: flex;
    justify-content: center;
    margin: 0 auto;
}
.highlight {
    text-decoration: underline;
}

.contents {
    color: white;
    background-color: slategray;
    padding: .5em;
}

.content {
    color: white;
    background-color: lightgray;
    
    padding: .5em;
}

nav {
    margin-top: 0em;
    margin: 0 auto;
    background-color: lightgray;
    font-family: oswald;
    max-width: 960px;
   
}

.navigation {
    list-style: none;
    padding: 0;
}

nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0 auto;
}

.navigation li:first-child {
    display: block;
}

.navigation li {
    display: none;
}
.navigation a {
    display: block;
    padding: 0.75rem;
    text-align: left;
    text-decoration: none;
    color: black;
    font-weight: 700;
}

.navigation a:hover {
    color: white;
    background-color: grey;
}
.highlight:hover {
    background-color: darkorange;
    
    
}


.responsive li {
    display: block;
}

date {
    color: darkslateblue;
}

footer p {
    color: darkorange;
}

footer a {
    
    color: slategray;
    text-decoration: none;
    padding: .2em;
    font-style: italic;

}
.herodiv {
    position: relative;
    width: 960px;
    height: 453px;
    
    
}
.hero-ph {
    margin: 10px auto;
    background-color: slategray;
    border: 1px solid black;
    width: 49%;
    position: relative;

}

.weathersummary {
    position: absolute;
    top: 400px;
    left: 150px;
    background-color: whitesmoke;
    border: 1px orange;
    padding: .5rem;
    box-shadow: 0 0 10px orange;
    
}
.forecast h2 {
    background-color: whitesmoke;
    color: navy;
    text-shadow: none;
}
.forecast {
    display: none;
}
.flex {
    display: flex;
    /* flex-direction: row; */
    flex-flow: row wrap;
}
.flex-col {
    flex: 1 1 auto;
    background-color: lightgrey;

}
.flex-col, .column-col, .grid-col {
    border-bottom: 1px solid black;
    border-left: 1px solid black;
    text-align: center;
}
.flex-col:hover, td:hover, .column-col:hover, .grid-col:hover {
    opacity: 0.75;
    background-color: navy;
    color: white;
}
.flex, .column, .grid {
    border-right: 1px solid navy:
}
.col-head {
    display: block;
    padding: 4px;
    border-bottom: 1.2px solid black;
    text-align: center;
}
a {
    
     border-radius: 100px;
    padding: 0.25rem;
    text-align: center;
    text-decoration: none;
}
.data {
    display: block;
    padding: 0 4px 4px;
    font-size: 0.9rem;
    text-align: center;
}
.col-head,th {
    font-weight: 700;
    font-size: 1rem;
    background-color: black;
    color: whitesmoke;
}
article img {
    float:right;
    width: 60%;
    box-shadow: 0 0 10px navy;
}
.article h2 {
    background-color: dimgray;
    color: white;
    
}
.pageinfo {
    text-align: center;
    background-color: slategray;
}
.stickyicon-list a {
    color: blue;

}
.map {
    float:none;
}
.pageinfo li {
    list-style-type: none;
}