@media only screen and (min-width: 64em) {
  main {
    max-width: 1080px;
  }

  .hero-ph {
    width: 100%;
  }
  .lgfh {
    width: 1080px;
  }
  .soda {
    width: 1080px;
  }
  .prestimg {
    width: 1080px;
  }
  .idhomepic {
    width: 1080px;
  }
  .forecast {
    display: contents;
  }
  .map {
    float: left;
  }
  .gallery {
    max-width: 1048px;
  }
  .gallery-main {
    max-width: 1048px;
  }
  .gallery-container {
    grid-template-columns: repeat(3, 1fr);
  }
  .gallery-images:hover {
    box-shadow: 0 0 50px #333;
  }

  figcaption {
    box-shadow: 0 0 50px #333;
  }
  footer {
    max-width: 960px;
    grid-template-columns: 1fr 1fr;
  }
  form label.sbs {
    padding: 0.4rem;
  }
  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .cards section {
    flex-direction: column;
  }
  .cards section:nth-child(even) {
    flex-direction: column;
  }
  .cards section div {
    border-style: solid;
    border-color: dimgray;
  }
  form fieldset {
    margin-left: 200px;
  }
  input #submitBtn {
    margin-left: 200px;
  }
}
