@media only screen and (min-width: 35em) {
  .navigation {
    display: flex;
  }
  .navigation li {
    display: block;
    flex: 1 1 auto;
  }
  .navigation a {
    text-align: center;
  }
  .navigation li:first-child {
    display: none;
  }
  .forecast {
    display: contents;
  }
  .hero-ph {
    width: 75%;
  }
  .map {
    float: left;
  }
  .gallery-container {
    grid-template-columns: repeat(2, 1fr);
  }
  footer {
    grid-template-columns: 1fr;
  }
  .cards section {
    /* display: flex; */
    flex-direction: row;
    justify-content: space-evenly;
  }
  .cards section:nth-child(even) {
    flex-direction: row-reverse;
  }
  form fieldset {
    margin-left: 100px;
  }
}
