@media only screen and (min-width: 64em) {

    main { 
        max-width: 960px;
    }
    /* display: flex; */

.hero-ph {
    width: 100%;
}
.forecast {
    display: contents;
}
.map {
    float:left;
}
.gallery {
    max-width: 1048px;
}
.gallery-main {
    max-width: 1048px;
}
.gallery-container {
    /* display: grid; */
    grid-template-columns: repeat(3, 1fr);
    /* column-gap: 10px;  */
}
.gallery-images:hover {box-shadow: 0 0 50px #333;}

figcaption {box-shadow: 0 0 50px #333;
}
footer {
    max-width: 960px;
    grid-template-columns: 1fr 1fr 1fr;
}
form label.sbs {
    padding: .4rem;
}
}