nav div {
    display: block;
}
header img {
    max-width: 10%;
}
h1 {
    color: blue;
    text-align: center;
}
h2 {
    text-align: center;
    
}
h1 h2 {
    border:darkmagenta;

}
a {
    text-decoration: none;
}
p {
    font-family: oswald;
}

.flex-container {
    display: flex;
    font-size: 30px;
    text-align: center;
    box-sizing: border-box;
}
.flext-item-left {
    background-color: cadetblue;
    padding: 10px;
    flex: 33%;
}
.flext-item-center {
    background-color: darkblue;
    padding: 10px;
    flex: 33%;

}
flex-item-right {
    background-color: darkgrey;
    padding: 10px;
    flex: 33%;
}
footer {
    text-align: end;
    font-size: 15px;
    font-weight: bold;
    color: darkred;
}