nav div {
  display: block;
}
header img {
  max-width: 10%;
}
h1 {
  color: black;
  text-align: center;
  
}
h2 {
  text-align: center;
}

a {
  text-decoration: none;
}
p {
  font-family: oswald;
}

.flex-container {
  display: flex;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
}
.flex-item-left {
  background-color: slategray;
  padding: 10px;
}
.flex-item-center {
  background-color: darkorange;
  padding: 10px;
}
.flex-item-right {
  background-color: slategray;
  padding: 10px;
}
footer {
  text-align: end;
  font-size: 15px;
  font-weight: bold;
  color: orange;
}
nav img  {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
p {
  text-align: center;
  color:  #3F547F;
}
.cs {
  
  text-align: center;
  margin-top: 0;
  max-width: 760px;
  font-size: 60px;
  padding: 50px;
  background-color: #dddddd;
  color: #f58735;

}
.ta {
  text-align: center;
  margin-top: 0;
  max-width: 760px;
  font-size: 60px;
  padding: 50px;
  background-color: #dddddd;
  color: #f58735;

}
h3 {
  color: #3F547F;
  font-size: 25px;
  padding: 30px;

}
h4 {
  max-width: 760px;
  color: #dddddd;
  font-size: 35px;
  text-align: center;
  padding: 50px;
  background-color: #f58735;
  
}
