nav div {
  display: block;
}
header img {
  max-width: 10%;
}
h1 {
  color: black;
  text-align: center;
  border: 1px solid black;
}
h2 {
  text-align: center;
}
h1 h2 {
  border: darkmagenta;
}
a {
  text-decoration: none;
}
p {
  font-family: oswald;
}

.flex-container {
  display: flex;
  font-size: 30px;
  text-align: center;
  box-sizing: border-box;
}
.flex-item-left {
  background-color: slategray;
  padding: 10px;
}
.flex-item-center {
  background-color: darkorange;
  padding: 10px;
}
.flex-item-right {
  background-color: slategray;
  padding: 10px;
}
footer {
  text-align: end;
  font-size: 15px;
  font-weight: bold;
  color: orange;
}
nav img p {
  align-content: center;
}
