@media only screen and (min-width: 32em) {

    div {
        width: 500px;
        display: flex;
        flex: 1 1 1;
}
.flex-container {
    display: flex;
    font-size: 30px;
    text-align: center;
}
.flext-item-left {
    background-color: cadetblue;
    padding: 10px;
    flex: 33%;
}
.flext-item-center {
    background-color: darkblue;
    padding: 10px;
    flex: 33%;

}
flex-item-right {
    background-color: darkgrey;
    padding: 10px;
    flex: 33%;
}
}